<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>

		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>

		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
	</configSections>

	<castle>
		<include uri="file://uNhAddIns-PersistenceConversation-nh-default.config"/>

		<components>
			<component id="uNhAddIns.sessionFactory" type="NHibernate.ISessionFactory, NHibernate" factoryId="sessionFactoryProvider" factoryCreate="GetFactory">
				<parameters>
					<factoryId>uNhAddIns</factoryId>
				</parameters>
			</component>

			<component id="uNhAddIns.dao.factory" service="uNhAddIns.CastleAdapters.Tests.AutomaticConversationManagement.IDaoFactory, uNhAddIns.CastleAdapters.Tests" type="uNhAddIns.CastleAdapters.Tests.AutomaticConversationManagement.DaoFactory, uNhAddIns.CastleAdapters.Tests">
			</component>

			<component id="uNhAddIns.dao.Silly" service="uNhAddIns.CastleAdapters.Tests.AutomaticConversationManagement.ISillyDao, uNhAddIns.CastleAdapters.Tests" type="uNhAddIns.CastleAdapters.Tests.AutomaticConversationManagement.SillyDao, uNhAddIns.CastleAdapters.Tests">
			</component>

			<component id="uNhAddIns.model.SillyCrud" service="uNhAddIns.CastleAdapters.Tests.AutomaticConversationManagement.ISillyCrudModel, uNhAddIns.CastleAdapters.Tests" type="uNhAddIns.CastleAdapters.Tests.AutomaticConversationManagement.SillyCrudModel, uNhAddIns.CastleAdapters.Tests" lifestyle="transient">
			</component>
		</components>
	</castle>

	<!--
	Configuration Example
	Create your own hibernate.cfg.xml file
	<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
		<session-factory name="uNhAddIns">
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string">
				Data Source=localhost\SQLEXPRESS;Initial Catalog=uNhAITests;Integrated Security=True;Pooling=False
			</property>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>

			<property name="adonet.batch_size">10</property>
			<property name="show_sql">false</property>
			<property name="use_outer_join">true</property>
			<property name="command_timeout">10</property>
			<property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
			<property name="current_session_context_class">
				uNhAddIns.SessionEasier.Conversations.ThreadLocalConversationalSessionContext, uNhAddIns
			</property>
			<property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
			<mapping assembly="uNhAddIns.CastleAdapters.Tests"/>
		</session-factory>
	</hibernate-configuration>
	-->
	
	<log4net debug="false">
		<appender name="trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
			</layout>
		</appender>

		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
			</layout>
		</appender>

		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">

			<param name="File" value="log.txt"/>
			<param name="AppendToFile" value="false"/>
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value="yyyy.MM.dd"/>
			<param name="StaticLogFileName" value="true"/>

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>

		<root>
			<priority value="WARN"/>
			<appender-ref ref="console"/>
		</root>

		<logger name="NHibernate.SQL">
			<level value="OFF"/>
		</logger>

		<logger name="NHibernate.Transaction">
			<level value="OFF"/>
		</logger>

	</log4net>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
