<configuration>
  <include uri="file://uNhAddIns-PersistenceConversation-nh-default.config" />

  <components>
    <component id="uNhAddIns.sessionFactory"
      type="NHibernate.ISessionFactory, NHibernate"
      factoryId="sessionFactoryProvider"
      factoryCreate="GetFactory">
      <parameters>
        <factoryId>uNhAddIns</factoryId>
      </parameters>
    </component>

		<component id="conversationcreation.interceptor"
               service="uNhAddIns.SessionEasier.Conversations.IConversationCreationInterceptorConvention`1, uNhAddins"
               type="SessionManagement.Domain.Impl.MyConversationCreationInterceptor`1, SessionManagement.Domain.Impl"
							 lifeStyle="transient" />
		
    <component id="product.repository"
               service="SessionManagement.Data.Repositories.IProductRepository, SessionManagement.Data"
               type="SessionManagement.Data.NH.Repositories.ProductRepository, SessionManagement.Data.NH"
							 lifeStyle="transient" />

    <component id="product.model"
               service="SessionManagement.Domain.Model.IProductModel, SessionManagement.Domain"
               type="SessionManagement.Domain.Impl.ProductModel, SessionManagement.Domain.Impl"
							 lifeStyle="transient" />

		<component id="order.repository"
					 service="SessionManagement.Data.Repositories.IOrderRepository, SessionManagement.Data"
					 type="SessionManagement.Data.NH.Repositories.OrderRepository, SessionManagement.Data.NH"
					 lifeStyle="transient" />

		<component id="modifyorder.model"
               service="SessionManagement.Domain.Model.IModifyOrderModel, SessionManagement.Domain"
               type="SessionManagement.Domain.Impl.ModifyOrderModel, SessionManagement.Domain.Impl" 
							 lifeStyle="transient" />

		<component id="schema.creation"
							 service="SessionManagement.Data.SchemaCreation.ISchemaCreator, SessionManagement.Data"
							 type="SessionManagement.Data.NH.SchemaCreation.SchemaCreator, SessionManagement.Data.NH" />
  </components>
</configuration>