<configuration>
  <include uri="file://uNhAddIns-PersistenceConversation-nh-default.config" />

  <components>
    <component id="uNhAddIns.sessionFactory"
      type="NHibernate.ISessionFactory, NHibernate"
      factoryId="sessionFactoryProvider"
      factoryCreate="GetFactory">
      <parameters>
        <factoryId>uNhAddIns</factoryId>
      </parameters>
    </component>

    <component id="product.repository"
               service="SessionManagement.Data.Repositories.IProductRepository, SessionManagement.Data"
               type="SessionManagement.Data.NH.Repositories.ProductRepository, SessionManagement.Data.NH"
    />

    <component id="product.model"
               service="SessionManagement.Domain.Model.IProductModel, SessionManagement.Domain"
               type="SessionManagement.Domain.Impl.ProductModel, SessionManagement.Domain.Impl" />

		<component id="order.repository"
					 service="SessionManagement.Data.Repositories.IOrderRepository, SessionManagement.Data"
					 type="SessionManagement.Data.NH.Repositories.OrderRepository, SessionManagement.Data.NH"
    />

		<component id="modifyorder.model"
               service="SessionManagement.Domain.Model.IModifyOrderModel, SessionManagement.Domain"
               type="SessionManagement.Domain.Impl.ModifyOrderModel, SessionManagement.Domain.Impl" />
  </components>
</configuration>